<header>
    <div class="container">
        <h2 class="docs-header"> Zframe - 简单快速入手的双向数据绑定模板组件</h2>
        <p><a class="btn btn-default btn-lg download" href="Zframe.zip" target="_blank">
            <i class="fa fa-download fa-lg"></i>&nbsp;&nbsp;
            立即下载
        </a></p>
        <iframe src="https://ghbtns.com/github-btn.html?user=zouzhipeng&repo=Zframe&type=star&count=true" frameborder="0" scrolling="0" width="100" height="20px"></iframe>
        <iframe src="https://ghbtns.com/github-btn.html?user=zouzhipeng&repo=Zframe&type=fork&count=true" frameborder="0" scrolling="0" width="100" height="20px"></iframe>
    </div>
</header>